html, body {
    background-color: #21232A;
    color: white;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 1.3rem;
    /* border: yellow dotted; */
    padding: 70px;
    /* padding-bottom:150px;
       padding-top:150px; */
}
button{
    padding: 15px;
    background-color:grey;
    margin-right:1.5em;
}
